<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar(home)"></nav>

<div class="d-flex justify-content-center">
    <div class="m-4">
        <h1>DATATATA</h1>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <canvas  width="200" height="200" id="myChart"></canvas>
    </div>
</div>

<script>
  const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>
<script>

    // var ctx = document.getElementById("myChart").getContext("2d");
    // const myChart = new Chart(
    //     document.getElementById('myChart'),
    //     config
    // );
    window.onload=function(){
        console.log(/*[[${data.harga}]]*/"mememekkkkkkkkkkk")

        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: /*[[${data}]]*/"",
                datasets: [
                    {
                        label: "My First dataset",
                        data: /*[[${data.harga}]]*/""
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    }
</script>

</body>
</html>