<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>BelajarBelajar</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Konser')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">

                <h2>Detail Konser</h2>
                <a class="btn btn-primary" th:href="@{/konser/ubah/} + ${konser.idKonser}">Ubah Konser</a>
                <br>
                <p th:text="'Nama Konser: ' + ${konser.namaKonser}"></p>
                <p th:text="'Waktu: ' + ${konser.waktuKonser}"></p>
                <p th:text="'Tempat: ' + ${konser.tempatKonser}"></p>
                <p th:text="'Pendapatan: ' + ${konser.jumlahPendapatan}"></p>
                <br><br>
                <div>
                    <h2>Jadwal tampil idol</h2>
                    <br><br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Jam</th>
                            <th>Idol</th>
                            <th>Detail Idol</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                th:each="penampilan, iterationStatus: ${listPenampilan}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'"
                        >
                            <td th:text="${penampilan.jamMulaiTampil}"></td>
                            <td th:text="${penampilan.idol.namaIdol}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   th:href="@{/}">Detail</a>
                            </td>
                    </table>
                </div>
                <a class="btn btn-primary" href="/konser">kembali</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
