<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Course</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Konser')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Cari Konser</h2>
                <br>
                <form th:action="@{/carikonser}" th:object="${konser}" method="GET">
                    Pendapatan minimal: <br>
                    <input class="form-control" type="search" name="jumlahPendapatan"/>
                    <br><br>

                    <table class="table">
                        <th>Idol</th>
                        <tbody>
                        <td>
                            <select name="idIdol"
                                    class="form-control">
                                <div th:each="idolEx, iterationStatus2 : ${listIdolExisting}">
                                    <option th:value="${idolEx.idIdol}" th:text="${idolEx.namaIdol}"></option>
                                </div>
                            </select>
                        </td>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" type="submit" name="search">Cari</button>
                    <a class="btn btn-primary" href="/">Batal</a>
                </form>
                <tr th:if="${listKonsernew.isEmpty().equals(false)}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Konser</th>
                            <th>Pendapatan</th>
                            <th>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                th:each="konser, iterationStatus: ${listKonsernew}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'"
                        >
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${konser.namaKonser}"></td>
                            <td th:text="${konser.jumlahPendapatan}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                   th:href="@{/konser/} + ${konser.idKonser}">Detail</a>
                            </td>
                    </table>
                </tr>
            </div>
        </div>
    </div>
</div>
</body>
</html>