<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        .btn-pink-moon {
            background: #ec008c;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #fff;
            border: 3px solid #eee;
        }
        .btn-rounded {
            border-radius: 35px;
        }
    </style>
</head>
 
<body>
    <nav th:replace="fragments/fragment :: navbar('')"></nav>
    <div class="d-flex justify-content-center" style="padding:20rem">
        <div class="m-4">
            <h1 class="mx-2">WELCOME TO SINGIDOL</h1>
            <div class="d-flex justify-content-center" stle="padding:5rem">
                <p class="mx-2">List of features:</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="/konser" class="mx-2 btn btn-pink-moon btn-rounded" style="width:100px; margin-right:20px;">Konser</a>
                <a href="/tiket" class="mx-2 btn btn-pink-moon btn-rounded" style="width:100px; margin-right:20px;">Tiket</a>
                <a href="/idol" class="mx-2 btn btn-pink-moon btn-rounded" style="width:100px; margin-right:20px;">Idol</a>
            </div>
        </div>
    </div>
</body>
 
</html>
