<!DOCTYPE html>
<html lang="eng">
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/style2.css?version=8' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/background.css?vesion=9' %}" type="text/css">

</head>


<body style="background-color:black">
  {% block content %}
  <section class="kotak">
    <div class="container-fluid isi">
      <div class="row tulisan">
        <h1 class="other-text">Met Bucin hehe</h1>
        <h1 class="other-text">If you already read this it means you already open the lego box</h1>
        <h1 class="other-text">Right now maybe you are wondering</h1>
        <h1 class="other-text">Why did i made something like this</h1>
        <h1 class="other-text">The reason i made this because</h1>
        <h1 class="other-text">I've got something to say</h1>
        <h1 class="other-text">And it was</h1>
        <h1 class="other-text">I'am actually had a feeling for you</h1>
        <h1 class="other-text">I don't know you already noticed it or not</h1>
        <h1 class="other-text">But</h1>
        <h1 class="other-text">Do you want to be my gf?</h1>
        <h1 class="other-text">JK</h1>
        <h1 class="other-text">Even if it's real, you still won't accept the offer</h1>
        <h1 class="other-text">Oiya</h1>
        <h1 class="other-text">Waktu itu km bilang galan sombongg</h1>
        <h1 class="other-text">Ga sombongg itutehh tp ngejauhhh hehehe</h1>
        <h1 class="other-text">Apalagi skrg dah ada cowo kann yeshanyaa jd yaudah</h1>
        <h1 class="other-text">So that's all from me</h1>
        <h1 class="other-text">Byeee</h1>
        <h1 class="other-text">I'm sorry if i a little bit different and didn't chat you anymore</h1> -->
        <button class="btn btn-primary other-text" href="#" role="button">button</button>
      </div>
      <div class="row">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      </div>
      <div class="row">
        <ul class="circles1">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      </div>
  {% endblock content %}
</body>

