<!DOCTYPE html>
<html lang="eng">
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/style.css?version=15' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/background.css?vesion=1' %}" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <style>
    .headline1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 185px;
      }
      .headline1 h1 {
        font-size: 70px;
        font-weight: bold;
      }
  </style>
</head>


<body style="background-color:black">
  <section class="kotak">
    <div class="container-fluid isi align-item-center">
      <div class="row">
        <div class="row headline1 tengah">
          <h1 style="color: white;"><span class="text"></span></h1>
          <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="circles1">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
  </section>

  <section class="isi-1">
    <div class="container-fluid align-item-center">
      <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
          <div class="title">
            <h2>Your Story</h2>
          </div>
          <div class="tulisan" >
              <p>Siti Nadya Khairunnisa Alamsyah born in 9 November 2002. First daughter from the Alamsyah family. Future doctor from padjajaran university.</p>
          </div>
          <div class="foto">
            <img src="{% static 'img/nisya.png' %}" class="figure-img img-fluid image">
          </div>
        </div>
    </div>
    </div>
  </section>

  <section class="isi-2">
    <div class="container-fluid">

    </div>
  </section>

  <section class="isi-3">
    <div class="container-fluid">

    </div>
  </section>
  <!-- JS Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="{% static 'script.js?vesion=1' %}"></script>

</body>
</html>
