@tailwind base;
@tailwind components;
@tailwind utilities;

.kotak h1{
  color: white;
  text-align: center;
  font-size: 300%;
}

.kotak{
  background: black;
  width: 100%;
  height: 610px;
  padding: 100px 0px;
}

.kotak row{
  z-index: 1;
  position: relative;
  height: 100%;
}

section {
  display: block;
  background: black;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

.tengah{
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
}

.title h2{
  color: white;
  text-align: center;
  font-size: 70px;
}

.tulisan p{
  color: white;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
}

.tulisan p{
  max-width: 700px;
  text-align: center;
  margin: 30px auto;
}

.foto img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.isi-1{
  background: black;
  width: 100%;
  padding: 100px 0px;
}

.isi-1 img{
  position: relative;
  animation: animasi 5s ease-in-out 2s infinite alternate;
}

.my-element {
  --animate-repeat: 2;
}

body h2{
  justify-content: center;
  text-align: center;
}

@keyframes animasi{
  0% {top: 0px;}
  25% {top: 25px;}
  50% {top: -10px;}
  100% {top: 0px;}
}


.isi-2{
  background: black;
  width: 100%;
  padding: 100px 0px 10px;
}

.isi-3{
  background: black;
  width: 100%;
  padding: 200px 0px 200px;
}

.isi-3 h2{
  background: black;
  width: 100%;
  padding: 200px 0px 200px;
  font-size: 30px;
}

.isi-4{
  padding: 80px 0px 200px;
}
.isi-4 .umur {
  color: yellow;
}

.isi-5{
  background: black;
  padding: 100px 0px 200px;
}

.isi-6{
  background: black;
  padding: 100px 0px 300px;
}

.isi-6 title p{
  font-size: xx-large;
}

.title h1{
  color: white;
  text-align: center;
  font-size: 40px;
}

button{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 844px) {
  /* For mobile phones: */

  .kotak h1{
    font-size: 220%;
  }

  .foto img{
    width: 50%;
  }

  .isi-1{
    padding: 400px 0px 100px;
  }

  .isi-1 .row{
    margin-left: -6px;    
  }

  .isi-6{
    padding: 200px 0px 320px;
  }
}