@tailwind base;
@tailwind components;
@tailwind utilities;

.kotak h1{
    color: white;
    text-align: center;
    font-size: 300%;
}

.kotak{
  background: black;
  width: 100%;
  height: 610px;
  padding: 100px 0px;
}

.kotak row{
  z-index: 1;
  position: relative;
  height: 100%;
}

section {
  display: block;
  background: black;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

.tengah{
  margin-left:auto;
  margin-right:auto;
  justify-content: center;
}

.title h2{
  color: white;
  text-align: center;
  font-size: 70px;
}

.tulisan{
  color: white;
  text-align: center;
}

.tulisan p{
    max-width: 700px;
    text-align: center;
    margin: 30px auto;
}

.foto img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.isi-1{
  background: black;
  width: 100%;
  padding: 100px 0px;
}

button{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 844px) {
  /* For mobile phones: */
  .kotak h1{
    font-size: 220%;
  }
  .tulisan{
    width: 390px;
    margin-left: -195px;
  }
}
